#Heading{
    background: #19e906;
    border-radius: 20px 20px 0px 0px;
    border: solid rgba(0, 0, 0, 0.47) 1px;
    font-size: 20px;

}
#Records{
    border: solid rgba(0, 0, 0, 0.436) 1px;
    font-size: 15px;
}

.SearchBar {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 4px;
    font-size: 20px;
}

.SearchBox {
    width: 40%;
    padding: 8px;
    border-radius: 25px;
    border: solid black 1px
}

.SearchBtn {
    width: 10%;
    padding: 8px;
    border-radius: 25px;
    border: solid black 1px;
    background: #19e906;
    
}