@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&family=Lora:ital@1&family=Merienda:wght@700&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.UserNamePage {
    background-color: #283618;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MemberCount {
    color: aliceblue;
    font-size: 20px;
    font-family:Verdana Geneva, Tahoma, sans-serif;
    margin: 10px;
}



.MemberList {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.MemberCard {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 90%;
    height: 70px;
    border-radius: 15px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.primaryDetails {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;

}

.secondaryDetails {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    font-size: 13px;
    font-family: 'Lora', serif;
    font-weight: bold;
}