.galary_heading {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.galary {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: start;
}

.galary_image {
    padding: 2px;
    height: 250px;
}

.galary_image img {
    padding: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:550px) {
    .galary {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;

    }

    .galary_image {
        padding: 2px;
        height: 200px;
    }

}